<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Add Idea</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<body>

<div th:replace="fragments/header :: header"></div>


<div>
    <!--/*@thymesVar id="idea" type="pl.kosiorski.model.Idea"*/-->
    <form th:action="@{'/idea/add'}" th:object="${idea}" method="post" class="form-signin">

        <!--<input th:type="hidden" th:value="*{user.id}" th:field="*{user}"/>-->

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th> Idea:</th>
                </tr>

                <tbody>
                <tr>
                    <td>
                        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
                        <input type="text" th:field="*{name}" placeholder="Name" style="width: 70%" class="form-control"/>
                    </td>

                <tr>
                    <td>
                        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>

                        <input type="text" th:field="*{description}" placeholder="Description" style="width: 70%"
                               class="form-control"/>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label style="width: 70%">
                            <label th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></label>
                            <select th:field="*{category}" class="form-control">
                                <option value="">Select an application category</option>
                                <option th:each="category : ${categories}"
                                        th:value="${category.id}"
                                        th:utext="${category.name}"></option>
                            </select>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label style="width: 70%">
                            <label th:if="${#fields.hasErrors('level')}" th:errors="*{level}"></label>
                            <select th:field="*{level}" class="form-control">
                                <option value="">Select the difficulty level of the application</option>
                                <option th:each="level : ${levels}"
                                        th:value="${level.id}"
                                        th:utext="${level.name}"></option>
                            </select>
                        </label>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label style="width: 70%">
                            <select multiple th:field="*{tools}" class="form-control">
                                <option value="">Select the tools you can use to create an application</option>
                                <option th:each="tool : ${tools}"

                                        th:value="${tool.id}"
                                        th:utext="${tool.name}"></option>
                            </select>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block " style="width: 70%"></p>

                    </td>
                </tr>


                </tbody>
            </table>
        </div>

    </form>
</div>
</body>
</html>