<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="main-layout">
<head>
    <meta charset="UTF-8">
    <title>New Post form</title>
</head>
<body>
<div layout:fragment="content">


    <form th:action="@{/project/add}" th:object="${project}" method="post">

        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Content Error</p>
        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
        <p>URL Address: <input type="url" th:field="*{urlAddress}"/></p>
        <p th:if="${#fields.hasErrors('urlAddress')}" th:errors="*{urlAddress}">UrlAddress Error</p>

        <select th:field="*{users}" multiple="multiple">
            <option value=""> --</option>
            <option th:each="user : ${users}"
                    th:value="${user.id}"
                    th:utext="${user.lastName}"></option>
        </select>
        <p th:if="${#fields.hasErrors('users')}" th:errors="*{users}">Users Error</p>


        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
</body>
</html>