<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="main-layout">
<head>
    <meta charset="UTF-8">
    <title>New Idea form</title>
</head>
<body>
<div layout:fragment="content">
    <!--/*@thymesVar id="idea" type="pl.kosiorski.model.Idea"*/-->
    <form th:action="@{'/idea/add'}" th:object="${idea}" method="post">

        <input th:type="hidden" th:value="*{user.id}" th:field="*{user}"/>

        <p>Name: <input type="text" th:field="*{name}"/></p>
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>


        <p>Description: <input type="text" th:field="*{description}"/></p>
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>


        <select th:field="*{category}">
            <option value=""> --</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:utext="${category.name}"></option>
        </select>

        <select th:field="*{level}">
            <option value=""> --</option>
            <option th:each="level : ${levels}"
                    th:value="${level.id}"
                    th:utext="${level.name}"></option>
        </select>

        <select multiple th:field="*{tool}">
            <option value=""> --</option>
            <option th:each="tools : ${tools}"
                    th:value="${tool.id}"
                    th:utext="${tool.name}"></option>
        </select>


        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
</body>
</html>