<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
>

<head>
    <title>Admin Page</title>
</head>

<body>
<div class="container">


    <div>
        <p><a th:href="@{'/admin/idea/inactive'}" th:text="'Go to Inactive ideas'"></a></p>
    </div>

    <div>
        <p><a th:href="@{'/admin/idea/active'}" th:text="'Go to Active ideas'"></a></p>
    </div>




    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>
</div>
</body>
</html>