<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Edit Idea</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div>
    <!--/*@thymesVar id="idea" type="pl.kosiorski.model.Idea"*/-->
    <form th:action="@{'/idea/editsave'}" th:object="${command}" method="post" class="form-signin">

        <input th:type="hidden" th:field="*{id}" th:value="*{id}"/>


        <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        <input type="text" th:field="*{name}" placeholder="Name"/>


        <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></label>
        <input type="text" th:field="*{description}" placeholder="Description"/>


        <select th:field="*{category}" class="selected">
            <option value=""> --</option>
            <option th:each="category : ${categories}"
                    th:value="${category.id}"
                    th:utext="${category.name}"></option>
        </select>

        <select th:field="*{level}" class="selected">
            <option value=""> --</option>
            <option th:each="level : ${levels}"
                    th:value="${level.id}"
                    th:utext="${level.name}"></option>
        </select>


        <select multiple th:field="*{tools}" class="selected">
            <option value=""> --</option>
            <option th:each="tool : ${tools}"

                    th:value="${tool.id}"
                    th:utext="${tool.name}"></option>
        </select>


        <p><input type="submit" value="Submit" class="button"/></p>
    </form>
</div>


</body>
</html>