<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/login}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
    </form>

    <form th:action="@{/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
    </form>

    <h1>Welcome to Homepage</h1>


    <div class="panel-heading">
        <span th:utext="${userName}"></span>
    </div>

    <h1>Ideas: </h1>

    <div>
        <table th:border="1" frame="1" th:width="80">
            <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Difficulty</th>
                <th>Ratting</th>
                <th>Added by:</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="activity, iterStat: ${ideas}" th:object="${idea}">
                <td th:text="*{name}"></td>
                <td th:text="*{categoty.name}"></td>
                <td th:text="*{level.name}"></td>
                <td th:text="*{ratting.value}"></td>
                <td th:text="*{user.login}"></td>
            </tr>
            </tbody>

        </table>
    </div>


    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>


</div>


</body>
</html>