<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
<div class="container">

    <form th:action="@{/login}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Login Page</button>
    </form>

    <form th:action="@{/registration}" method="get">
        <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
    </form>

    <h1>Welcome to Homepage</h1>


    <div class="panel-heading">
        <span th:utext="${userName}"></span>
    </div>

    <h1>Ideas: </h1>


    <div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Difficulty</th>
                <th>Ratting</th>
                <th>Added by:</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="idea, iterStat: ${ideas}" th:object="${idea}">
                <td th:text="*{id}"></td>
                <td><a th:href="@{'idea/' + ${idea.id}}" th:text="${idea.name}"></a></td>
                <td th:text="*{category.name}"></td>
                <td th:text="*{level.name}"></td>
                <td th:text="*{rating}"></td>
                <td th:text="*{user.login}"></td>
            </tr>
            </tbody>

        </table>

        <div sec:authorize="isAuthenticated()">
            <td><a th:href="@{'/idea/add'}" th:text="'Add your idea'"></a></td>
        </div>


    </div>


    <div sec:authorize="hasAuthority('ADMIN')">
        <p><a th:href="@{'/admin/home'}" th:text="'Go Admin Home'"></a></p>
    </div>


    <hr>


    <h1>Last acvtivities: </h1>


    <div>
        <table>
            <thead>
            <tr>
                <th>Content</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="activity, iterStat: ${activities}" th:object="${activity}">
                <td th:text="*{content}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <hr>

    <h1>Daily Challenge: </h1>


    <div>
        <p>Challenge: <span th:text="*{boredActivity.activity}"></span>.</p>
        <p>Type: <span th:text="*{boredActivity.type}"></span>.</p>
        <p>Number of people involved : <span th:text="*{boredActivity.participants}"></span>.</p>
        <p>Price (factor 0 is free, 1 is expensive): <span th:text="*{boredActivity.price}"></span>.</p>

    </div>


    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>


</div>


</body>
</html>