<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Idea details</title>
</head>
<body>


<form th:action="@{'/' + ${value}}" method="get">
    <label>
        <select>
            <option th:value="1" th:text="1"></option>
            <option th:value="2" th:text="2"></option>
            <option th:value="3" th:text="3"></option>
            <option th:value="4" th:text="4"></option>
            <option th:value="5" th:text="5"></option>
        </select>
    </label>
    <p><input type="submit" value="Submit"/></p>
</form>

<td th:text="*{rating}"></td>

</body>
</html>